In [2]:
# Packages
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import scipy.stats as st
import seaborn as sns
# import keras
# import rpy
import datetime
# from sklearn.cluster import KMeans
# from scipy.cluster.vq import kmeans,vq
from scipy import stats
import scipy.cluster.hierarchy as hac
from sklearn.metrics import mean_squared_log_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder
%matplotlib inline
from io import StringIO
import pandas_profiling
from matplotlib import rcParams

In [3]:
df = pd.read_csv('listings.csv')

In [4]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,minimum_nights,calculated_host_listings_count,availability_365,number_of_reviews,reviews_per_month,price
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,1,2,288,46,0.39,225
1,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,3,1,365,0,NaN,150
2,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,1,1,212,274,4.64,89
3,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,10,1,0,9,0.10,80
4,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,3,1,127,75,0.60,200

In [5]:
# pandas_profiling.ProfileReport(df)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

In [6]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'minimum_nights',
       'calculated_host_listings_count', 'availability_365',
       'number_of_reviews', 'reviews_per_month', 'price'],
      dtype='object')

In [12]:
# renaming some of the columns 
df.columns = ['apt_id', 'apt_name', 'host_id', 'host_name', 'borough',
       'neighborhood', 'latitude', 'longitude', 'room_type', 'minimum_nights',
       'calculated_host_listings_count', 'availability_365',
       'number_of_reviews', 'reviews_per_month', 'price']

In [13]:
df.columns

Index(['apt_id', 'apt_name', 'host_id', 'host_name', 'borough', 'neighborhood',
       'latitude', 'longitude', 'room_type', 'minimum_nights',
       'calculated_host_listings_count', 'availability_365',
       'number_of_reviews', 'reviews_per_month', 'price'],
      dtype='object')

### Reviewing the data

In [ ]:
# not every apartment has a description in apt_name. Not a big deal for now

In [27]:
# df.loc[df['apt_name']=='#NAME?']
# and
df.loc[df['apt_name']=='']

Empty DataFrame
Columns: [apt_id, apt_name, host_id, host_name, borough, neighborhood, latitude, longitude, room_type, minimum_nights, calculated_host_listings_count, availability_365, number_of_reviews, reviews_per_month, price]
Index: []